.left-fade {
  position: absolute;
  top: -5%;
  bottom: -5%;
  left: -5%;
  width: 58%;
  background: rgba(255,255,255,0.85);
  pointer-events: none;
  z-index: 10;
  filter: blur(2vw);
}

.home-content {
    width: 45vw;
    padding-left: 4vw;
    padding-top: 6vw;
    gap: 1vw;
}

/* --- RESPONSIVE MÓVIL --- */
@media (max-width: 768px) {

    section {
    min-height: 100vh;     /* ALTURA COMPLETA */
    padding: 20px 15px;
    display: flex;
    align-items: center;   /* CENTRA VERTICALMENTE EL CONTENIDO */
}

    .home-content {
        width: 100%;
        padding: 20px 0;
        gap: 14px;
    }

    h1 {
        font-size: 8vw !important;
        max-width: 100%;
    }

    h2 {
        font-size: 4.5vw !important;
        max-width: 100%;
        min-height: auto;
        line-height: 1.4;
    }

    /* Botones SOLO en móvil */
    .btn-home {
        font-size: 4vw;
        padding: 3vw 6vw;
        border-radius: 2vw;
    }

    /* Contenedor de botones */
    .home-buttons {
        display: flex;
        flex-direction: column;
        gap: 4vw;
    }

    /* Desactivar fade lateral */
    .left-fade {
        display: none;
    }

    .frase-h2 {
        display: none !important;
    }

    .home-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;    /* CENTRA HORIZONTAL */
        justify-content: center; /* CENTRA VERTICAL si hiciera falta */
        gap: 4vw;
        width: 100%;
        margin-top: 6vw;
    }
}

