<section class="relative w-full h-screen overflow-hidden">
  <!-- Imagen de fondo -->
  <img
    src="../../assets/images/fondoCudeca.png" 
    alt="Fondo"
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- Filtro de oscuridad (capa semitransparente) -->
  <div class="absolute inset-0 bg-green-400 opacity-30 z-0"></div>

  <!-- Degradado blanco desde la izquierda -->
  <div class="left-fade"></div>

  <!-- Contenido con texto dinámico alineado a la izquierda -->
  <div class="relative z-10 flex flex-col gap-5 items-start justify-center w-full h-full px-8 sm:px-16"> <!--sm:px-16 es la distancia al margen izq-->
    <!-- Texto estático encima del título -->
    <h1 class="text-green-800 text-2xl sm:text-8xl font-bold text-left max-w-3xl">Donaciones y Eventos</h1>
    <h2 class="text-green-600 text-2xl sm:text-3xl font-bold text-left max-w-3xl min-h-[4rem] sm:min-h-[10rem] leading-snug">{{ texto }}</h2> <!-- Texto dinámico (altura reservada para evitar reflujo) -->
    <div class="flex gap-20 mt-4">
      <button
        (click)="goToSignUp()" 
        class="bg-green-600 text-white text-xl py-6 px-32 rounded-3xl hover:bg-green-800 transition-all">
        Eventos
      </button>
      <button 
        (click)="goToSignUp()" 
        class="bg-green-600 text-white text-xl py-6 px-32 rounded-3xl hover:bg-green-800 transition-all">
        Donar
      </button>
    </div>
  </div>
</section>
