/* Estilos adicionales */

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Hover suave para la tarjeta horizontal */
.bg-white:hover {
  transform: translateX(0.3vw); /* Mueve ligeramente a la derecha en lugar de arriba */
  border-color: #059669; /* Un verde más intenso en el borde */
}

/* Ajustes Responsive */
@media (max-width: 768px) {
  /* En móvil volvemos al comportamiento vertical estándar */
  .bg-white:hover {
    transform: translateY(-0.5vw);
  }
}