.fondo-floral {
  background-image: 
    linear-gradient(to bottom, 
      rgba(150, 237, 137, 0.678) 30%,   /* Empieza arriba del todo */
      rgba(150, 237, 137, 0.301) 100%    /* Termina transparente abajo del todo */
    ), 
    
    url('../../assets/images/fondoCudeca.png');
    
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}