<section class="relative w-full h-screen overflow-hidden bg-cover bg-center"
         style="background-image: url('assets/images/fondoCudeca.png');">
  <!-- Botón volver -->
  <button type="button" (click)="goToHome()"
          aria-label="Volver"
          class="absolute top-[1.3vw] right-[1.3vw] z-20 p-[1.3vw] bg-white bg-opacity-90 rounded-full shadow-md text-green-600 hover:bg-opacity-100 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-[1.5vw] w-[1.5vw]" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M12.293 15.293a1 1 0 01-1.414 0L6.586 11l4.293-4.293a1 1 0 011.414 1.414L9.414 11l2.879 2.879a1 1 0 010 1.414z" clip-rule="evenodd"/>
    </svg>
  </button>
  <!-- Filtro de oscuridad -->
  <div class="absolute inset-0 bg-green-900 opacity-60 z-0"></div>

  <!-- Formulario de Login -->
  <div class="relative z-10 flex items-center justify-center w-full h-full px-[1.5vw]">
    <div class="bg-white p-[1.6vw] rounded-[1vw] shadow-lg w-[35vw]">
      <h1 class="text-[2.6vw] font-bold text-center text-green-600 mb-[1.2vw]">Iniciar sesión</h1>
      
      <form (ngSubmit)="onSubmit()">
        <!-- Correo electrónico -->
        <div class="mb-[1vw]">
          <label for="email" class="block text-[1vw] font-medium text-gray-700">Correo electrónico</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" 
                 required class="w-full px-[1vw] py-[0.6vw] mt-[0.6vw] border border-gray-300 rounded-[0.6vw] focus:outline-none focus:ring-2 focus:ring-green-500 text-[0.95vw]">
        </div>

        <!-- Contraseña -->
        <div class="mb-[1vw]">
          <label for="password" class="block text-[1vw] font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" 
                 required class="w-full px-[1vw] py-[0.6vw] mt-[0.6vw] border border-gray-300 rounded-[0.6vw] focus:outline-none focus:ring-2 focus:ring-green-500 text-[0.95vw]">
        </div>

        <!-- Botón de Iniciar sesión -->
        <button type="submit" 
                class="w-full py-[0.7vw] px-[1.2vw] bg-green-600 text-white rounded-[0.6vw] hover:bg-green-700 transition-colors text-[1.2vw]">
          Iniciar sesión
        </button>
      </form>

      <!-- Enlace para registrarse -->
      <div class="mt-[0.7vw] text-center">
        <p class="text-[1vw] text-gray-600">
          ¿No tienes cuenta? 
          <button
            (click)="goToSignUp()" 
            class="text-green-600 hover:text-green-800">
            Registrate aquí
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
