<section class="relative w-full h-screen overflow-hidden bg-cover bg-center"
         style="background-image: url('assets/images/fondoCudeca.png');">
  <!-- Botón volver -->
  <button type="button" (click)="goToHome()"
      aria-label="Volver al inicio"
      class="absolute top-[2vw] left-[2.5vw] z-20 px-[2vw] py-[0.8vw] bg-green-600 text-white rounded-[0.6vw] hover:bg-green-800 transition-colors text-[2vw] font-medium shadow-md">
    Inicio
  </button>
  <!-- Filtro de oscuridad -->
  <div class="absolute inset-0 bg-black opacity-70 z-0"></div>

  <!-- Formulario de Login -->
  <div class="relative z-10 flex items-center justify-center w-full h-full px-[1.5vw]">
    <div class="bg-white p-[1.6vw] rounded-[1vw] shadow-lg w-[35vw]">
      <h1 class="text-[2.6vw] font-bold text-center text-green-600 mb-[1.2vw]">Iniciar sesión</h1>
      
      <form (ngSubmit)="onSubmit()">
        <!-- Correo electrónico -->
        <div class="mb-[1vw]">
          <label for="email" class="block text-[1vw] font-medium text-gray-700">Correo electrónico</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" 
                 required class="w-full px-[1vw] py-[0.6vw] mt-[0.6vw] border border-gray-300 rounded-[0.6vw] focus:outline-none focus:ring-2 focus:ring-green-500 text-[0.95vw]">
        </div>

        <!-- Contraseña -->
        <div class="mb-[1.3vw]">
          <label for="password" class="block text-[1vw] font-medium text-gray-700">Contraseña</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" 
                 required class="w-full px-[1vw] py-[0.6vw] mt-[0.6vw] border border-gray-300 rounded-[0.6vw] focus:outline-none focus:ring-2 focus:ring-green-500 text-[0.95vw]">
        </div>

        <!-- Botón de Iniciar sesión -->
        <button type="submit" 
                class="w-full py-[0.7vw] px-[1.2vw] bg-green-600 text-white rounded-[0.6vw] hover:bg-green-700 transition-colors text-[1.2vw]">
          Iniciar sesión
        </button>
      </form>

      <!-- Enlace para registrarse -->
      <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">
          ¿No tienes cuenta? 
          <button
            (click)="goToSignUp()" 
            class="text-green-600 hover:text-green-800">
            Registrate aquí
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
