<header 
  *ngIf="!isAuthRoute"
  class="text-white py-[1.2vw] px-0 fixed top-0 left-0 w-full z-50 transition-all duration-300 ease-in-out"
  [ngClass]="{ 'transform -translate-y-full': !showHeader }">
  <!-- Logo de Cudeca -->
        <div class="flex items-center justify-between w-[96vw] ml-[2vw]">
          <!-- Todos los elementos son hijos directos; justify-between reparte el espacio entre ellos para cubrir todo el ancho -->
          <img src="assets/images/cudeca-logo.png" alt="Cudeca Logo" class="flex-shrink-0 w-[15vw] h-auto">
          <button
            (click)="goToHome()"
            class="flex-shrink-0 bg-transparent font-bold text-green-600 py-[1.2vw] px-[2.5vw] rounded-[1.2vw] hover:bg-green-800 hover:text-white transition-all text-[2.2vw]">
            Inicio</button>
          <button
            (click)="goToEventos()"
            class="flex-shrink-0 bg-transparent font-bold text-green-600 py-[1.2vw] px-[2.5vw] rounded-[1.2vw] hover:bg-green-800 hover:text-white transition-all text-[2.2vw]">
            Eventos</button>
          <button (click)="goToDonation()"
            class="flex-shrink-0 bg-transparent font-bold text-green-600 py-[1.2vw] px-[2.5vw] rounded-[1.2vw] hover:bg-green-800 hover:text-white transition-all text-[2.2vw]">
            Donar</button>
          <button
            (click)="goToSignUp()"
            class="flex-shrink-0 bg-transparent font-bold text-green-600 py-[1.2vw] px-[2.5vw] rounded-[1.2vw] hover:bg-green-800 hover:text-white transition-all text-[2.2vw]">
            Cuenta</button>
          <button
            (click)="goToLogin()"
            class="flex-shrink-0 bg-transparent font-bold text-green-600 py-[1.2vw] px-[2.5vw] rounded-[1.2vw] hover:bg-green-800 hover:text-white transition-all text-[2.2vw]">
            Iniciar sesión</button>
          <button
            (click)="goToLogin()"
            class="flex-shrink-0 w-[6vw] h-[6vw] rounded-full flex items-center justify-center bg-white text-green-600 hover:bg-green-800 hover:text-white transition-all text-[2.4vw]">
            ?</button>
        </div>
</header>

<!-- Router Outlet: donde se renderizan los componentes -->
<main class="">
  <router-outlet></router-outlet>
</main>

<footer *ngIf="!isAuthRoute" class="relative  bg-green-800 text-white py-[1vw] text-center w-full text-[1.2vw]">
  <p>&copy; 2025 Cudeca - Todos los derechos reservados</p>
</footer>
