/* app.component.css */
body {
  font-family: 'Helvetica', sans-serif;
}



@keyframes fadeZoom {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-zoom {
    animation: fadeZoom 0.9s ease-out forwards;
}
